mat-toolbar-row
  justify-content: space-between

mat-icon
  margin-right: 1rem

.left-navbar-group
  display: block

.right-navbar-group
  display: block

button
  margin-left: .2rem
  margin-right: .2rem
