<form [formGroup]="autoBidConfigForm" (ngSubmit)="onSave()">

  <mat-card-title>{{title}}</mat-card-title>

  <mat-divider></mat-divider>

  <br />

  <br />

  <div class="mat-action-row">
    <ng-container *ngIf="autoBidConfig$ | async as autoBidConfig">
      <span class="mat-error">{{autoBidConfig.currentBidAmount}} ({{getBidUsagePercentage(autoBidConfig)}}%) amount is already reserved for bids.</span>
    </ng-container>
  </div>

  <br />

  <div class="mat-action-row">
    <mat-form-field appearance="outline">
      <mat-label>Maximum Bid Amount (USD)</mat-label>
      <input matInput placeholder="Maximum Bid Amount" formControlName="maxBidAmount" required>
    </mat-form-field>
  </div>

  <div class="mat-action-row">
    <mat-form-field appearance="outline">
      <mat-label>Notify Percentage (%)</mat-label>
      <input matInput placeholder="Notify Percentage (%)" formControlName="notifyPercentage" required>
    </mat-form-field>
  </div>

  <br />

  <div class="mat-action-row">
    <mat-checkbox class="example-margin" formControlName="isAutoBidEnabled">Enable Auto Bid</mat-checkbox>
  </div>

  <br />

  <br />

  <ng-container>
    <button mat-stroked-button [routerLink]="['/home']">Cancel</button>
    <button
      mat-raised-button color="primary"
      [disabled]="!autoBidConfigForm.valid">{{submitButtonLabel}}</button>
  </ng-container>

</form>
