<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
      <td mat-cell *matCellDef="let awardedItem"> {{awardedItem.name}} </td>
    </ng-container>

    <ng-container matColumnDef="winningBid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Winning Bid </th>
      <td mat-cell *matCellDef="let awardedItem"> {{ awardedItem.winningBid | currency:'USD' }} </td>
    </ng-container>

    <ng-container matColumnDef="winningBidIsAutoBid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Auto Bid </th>
      <td mat-cell *matCellDef="let awardedItem"> {{ awardedItem.winningBidIsAutoBid ? 'Yes' : 'No' }} </td>
    </ng-container>

    <ng-container matColumnDef="winningBidDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Awarded Date & Time </th>
      <td mat-cell *matCellDef="let awardedItem"> {{ awardedItem.winningBidDateTime | date: 'MMM d, y, h:mm a' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let awardedItem">
        <app-download-bill [awardedItem]="awardedItem"></app-download-bill>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let awardedItem; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No records found!</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
</div>
