<form [formGroup]="itemForm">

  <mat-card-title>{{data.title}}</mat-card-title>

  <mat-divider></mat-divider>

  <br />

  <div class="mat-action-row">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="e.g. Antique Statue" formControlName="name" required>
    </mat-form-field>
  </div>

  <div class="mat-action-row">
    <mat-form-field appearance="fill">
      <mat-label>Closing Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Closing Date" formControlName="closeDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Closing Time (HH:MM)</mat-label>
      <input matInput placeholder="e.g. 16:20" formControlName="closeTime" required>
    </mat-form-field>
  </div>

  <div class="mat-action-row">
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="e.g. This item is best gift for home, office, car dashboard, office table/desk" formControlName="description" required></textarea>
    </mat-form-field>
  </div>

  <br />

  <div class="mat-action-row">
    <mat-form-field appearance="outline">
      <mat-label>Price (USD)</mat-label>
      <input matInput placeholder="Price" formControlName="price" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Starting Bid Amount (USD)</mat-label>
      <input matInput placeholder="Starting Bid Amount" formControlName="bid" required>
    </mat-form-field>
  </div>

  <br />

  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button color="primary"
      [disabled]="!itemForm.valid"
      [mat-dialog-close]="itemForm.value" cdkFocusInitial>{{data.submitButtonLabel}}</button>
  </mat-dialog-actions>

</form>
